@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(../font/open-sans-condensed.woff) format('woff');
}


a {
    text-decoration: none;
}

.container {
    overflow: hidden;
}

.arrow-container {
    border-radius: 100%;
    margin: auto;
}

.arrow {
    height: 200px;
    width: 200px;
}

.arrow path {
    fill: #95A5A6;
}

.border {
    height: 0;
    width: 0;
    background-color: transparent;
}

.header {
    widows: 100%;
}

.logo a,
.text {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: normal;
    color: #95A5A6;
}

.logo {
    position: fixed;
    top: 1%;
    left: 3%;
}

.distance {
    position: fixed;
}

.wallpaper {
    background-color:#ECF0F1;
    height: 100%;
    width: 100%;
}

.accuracy {
    position: fixed;
    background-color: transparent;
    border: 4px #95A5A6 solid;
    border-radius: 100%;
}

.accuracy-hight {
    right: 9px;
    top: 9px;
    height: 28px;
    width: 28px;
}

.accuracy-medium {
    right: 16px;
    top: 16px;
    height: 14px;
    width: 14px;
}

.accuracy-low {
    right: 23px;
    top: 23px;
    height: 0px;
    width: 0px;
}

.list {
    margin: 0 5%;
}

.list li {
    margin: 10% 0;
}

.btn {
    width: 100%;
    border-radius: 10px;
    font-size: 17px;
    line-height: 1.471;
    padding: 10px 19px;
    font-weight: bold;
    background-color: #1abc9c;
    color: #ffffff;
    border: medium none;
    text-align: center;
    vertical-align: middle;
    display: block;
}

.btn.text {
    font-size: 2em;
}

@media screen and (orientation: landscape) {
    .distance {
        right: 3%;
        bottom: 2%;
    }
}

@media screen and (orientation: portrait) {
    .distance {
        left: 3%;
        bottom: 7%;
    }
}

/**
 * Inactive target swap color
 */
.inactive.wallpaper {
    background-color: #FDE3A7;
}

.inactive .logo a,
.inactive .text {
    color: #F89406;
}
.inactive .arrow path {
    fill: #F89406;
}
.inactive .accuracy {
    border-color: #F89406;
}

/**
 * Active target swap color
 */
.active.wallpaper {
    background-color: #C8F7C5;
}

.active .logo a,
.active .text {
    color: #1abc9c;
}
.active .arrow path {
    fill: #1abc9c;
}
.active .accuracy {
    border-color: #1abc9c;
}

/**
 * transition and rotations
 */
.text {
    transition: color 4s;
}
.wallpaper,
.circle {
    transition: background-color 4s;
}
.arrow,
.accuracy {
    transition: border-color 4s;
}

/**
 * Home
 */
.home .arrow-top,
.home.wallpaper {
    background-color: #C8F7C5;
}

.home .text {
    color: #fff;
}

.home .text.logo {
    color: #1abc9c;
}
