@media screen and (max-width: 320px) and (max-height: 640px) {
    body,
    .container {
        height: 640px;
        width: 320px;
    }

    .header {
        height: 50px;
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 640px) and (max-height: 320px) {
    body,
    .container {
        height: 320px;
        width: 640px;
    }

    .header {
        height: 20px;
    }
}

.circle {
    padding: 45px;
    width: 200px;
    height: 200px;
}

.arrow-top {
    border-bottom: 190px solid #ECF0F1;
}

.arrow {
    border-left: 100px solid  transparent;
    border-right: 100px solid  transparent;
}

.arrow-tail {
    border-bottom: 30px solid #95A5A6;
    margin-top: -30px;
}

.distance {
    font-size: 5em;
}

.logo {
    font-size: 3em;
}

.btn {
    width: 87%;
}