@media screen and (max-width: 768px) and (max-height: 1024px) {
    .container {
        height: 1024px;
        width: 768px;
    }

    .header {
        height: 50px;
        margin-bottom: 120px;
    }
}

@media screen and (max-width: 1024px) and (max-height: 768px) {
    .container {
        height: 768px;
        width: 1024px;
    }

    .header {
        height: 50px;
        margin-bottom: 30px;
    }
}

.circle {
    padding: 120px;
    width: 340px;
    height: 340px;
}

.arrow-top {
    border-bottom: 325px solid #ECF0F1;
}

.arrow {
    border-left: 170px solid  transparent;
    border-right: 170px solid  transparent;
}

.arrow-tail {
    border-bottom: 50px solid #95A5A6;
    margin-top: -50px;
}

.distance {
    font-size: 7em;
}


.logo {
    font-size: 3em;
}