@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(../font/open-sans-condensed.woff) format('woff');
}

html, body
{
    height: 100%;
}

a {
    text-decoration: none;
}

.distance {
    font-size: 5em;
}

.logo {
    font-size: 3em;
}

.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.arrow-container {
    margin: auto;
    display: block;
}

.arrow path {
    fill: #6C7A89;
}

.arrow {
    height: 100%;
    width: 100%;
}

.border {
    height: 0;
    width: 0;
    background-color: transparent;
}

.header {
    widows: 100%;
}

.logo a,
.text {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: normal;
    color: #6C7A89;
}

.logo {
    position: fixed;
    top: 1%;
    left: 3%;
}

.distance {
    position: fixed;
}

.wallpaper {
    overflow: hidden;
    background-color:#ECF0F1;
    height: 100%;
    width: 100%;
}

.list {
    margin: 0 5%;
}

.list li {
    margin: 10% 0;
}

.btn {
    width: 100%;
    border-radius: 10px;
    font-size: 17px;
    line-height: 1.471;
    padding: 10px 19px;
    font-weight: bold;
    background-color: #1abc9c;
    color: #ffffff;
    border: medium none;
    text-align: center;
    vertical-align: middle;
    display: block;
}

.btn.text {
    font-size: 2em;
}

@media screen and (orientation: landscape) {
    .arrow-container {
        margin-top: 5%;
    }
    .arrow-container {
        height: 80%;
        width: auto;
    }
    .distance {
        right: 3%;
        bottom: 2%;
    }
}

@media screen and (orientation: portrait) {
    .arrow-container {
        margin-top: 40%;
    }
    .arrow-container {
        height: auto;
        width: 80%;
    }
    .distance {
        left: 3%;
        bottom: 7%;
    }
}

/* -- device-aspect-ratio: 16/9 -- */
@media screen and (device-aspect-ratio: 9/16) {
    .arrow-container {
        margin-top: 45%;
    }
}
@media screen and (device-aspect-ratio: 16/9) {
    .arrow-container {
        margin-top: 6%;
    }
}

/* -- device-aspect-ratio: 3/2 -- */
@media screen and (device-aspect-ratio: 2/3) {
    .arrow-container {
        margin-top: 33%;
    }
}
@media screen and (device-aspect-ratio: 3/2) {
    .arrow-container {
        margin-top: 5%;
    }
}

/* -- device-aspect-ratio: 4/3 -- */
@media screen and (device-aspect-ratio: 3/4) {
    .arrow-container {
        margin-top: 25%;
    }
}
@media screen and (device-aspect-ratio: 4/3) {
    .arrow-container {
        margin-top: 7%;
    }
}

/* -- device-aspect-ratio: 16/10 -- */
@media screen and (device-aspect-ratio: 10/16) {
    .arrow-container {
        margin-top: 40%;
    }
}
@media screen and (device-aspect-ratio: 16/10) {
    .arrow-container {
        margin-top: 6%;
    }
}

/* -- device-aspect-ratio: 64/49 -- */
@media screen and (device-aspect-ratio: 49/64) {
    .arrow-container {
        margin-top: 25%;
    }
}
@media screen and (device-aspect-ratio: 64/49) {
    .arrow-container {
        margin-top: 7%;
    }
}


/* -- device-aspect-ratio: 32/15 -- */
@media screen and (device-aspect-ratio: 15/32) {
    .arrow-container {
        margin-top: 65%;
    }
}
@media screen and (device-aspect-ratio: 32/15) {
    .arrow-container {
        margin-top: 4.5%;
    }
}

/**
 * Inactive target swap color
 */
.inactive.wallpaper {
    background-color: #FDE3A7;
}

.inactive .logo a,
.inactive .text {
    color: #F9690E;
}
.inactive .arrow path {
    fill: #F9690E;
}

/**
 * Active target swap color
 */
.active.wallpaper {
    background-color: #C8F7C5;
}

.active .logo a,
.active .text {
    color: #00B16A;
}
.active .arrow path {
    fill: #00B16A;
}

/**
 * transition and rotations
 */
.text {
    transition: color 4s;
}
.wallpaper,
.circle {
    transition: background-color 4s;
}
.arrow {
    transition: border-color 4s;
}
.arrow path {
    transition: fill 4s;
}

/**
 * Home
 */
.home .arrow-top,
.home.wallpaper {
    background-color: #C8F7C5;
}

.home .text {
    color: #fff;
}

.home .text.logo {
    color: #1abc9c;
}
